<button (click)="toggle()">{{show ? 'hide' : 'show'}}</button> show = {{show}}
<br>
<div *ngIf="show; else elseBlock">Text to show</div>
<ng-template #elseBlock>Alternate text while primary text is hidden<br></ng-template>
<hr>
<br> Alternate Syntax 1<br>
<p *ngIf="show == true">
    Expression is true and ngIf is true. This paragraph is in the DOM.
</p>
<p *ngIf="show == false">
    Expression is false and ngIf is false. This paragraph is not in the DOM.
</p>
<hr>
<br> Alternate Syntax 2<br>
<ng-template [ngIf]="show">
    <div>template for show = true</div>
</ng-template>
<ng-template [ngIf]="!show">
    <div>template for show = false</div>
</ng-template>
<br>
<hr>
<br> Alternate Syntax 3 (template ref)
<br>
<div *ngIf="true; then thenBlock"></div>
<ng-template #primaryBlock>
    Primary text to show
</ng-template>
<ng-template #secondaryBlock>
    Secondary text to show
</ng-template>
<br>
<hr>
<br>
<input type="text" #input1 (click)="onClick(input1.value)">